/* Single divider after product description*/
.smallDivider {
    border-color: #aaa;
    @apply my-3;
}

.productsContainer {
    margin-top: 2rem;
}

.productContainer {
    @apply border rounded-sm border-gray-300 shadow-sm hover:shadow-lg transition-all bg-white overflow-y-hidden;

    max-width: 65rem;
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-rows: 18rem auto;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productRightSection {
    padding: 1.5rem;
    @apply border-t border-gray-300;
}

.productTable {
    font-family: "Poppins";
    @apply text-lg px-4 w-full my-2 mx-auto;
}

.productExtraDetails {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.productTitle {
    @apply text-3xl;
    font-family: "Poppins";
}

.productPrice {
    @apply text-xl mt-2;
    font-family: "Poppins";
}

.productDescription {
    @apply text-lg my-2;
    font-family: "Poppins";
}

.productContainer.focused .productExtraDetails {
    height: 100%;
}

.productTableRow {
    @apply border-b border-gray-300;
}

.productTableCell {
    padding: 8px 14px;
}

.contactUsBtn {
    margin: 0.5rem;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.arrow {
    @apply text-center text-2xl font-bold md:hidden animate-bounce mt-2;
}

@media screen and (min-width: 680px) {
    .productContainer {
        width: 90vw;
        height: 20rem;
        grid-template-columns: 0.9fr 1fr;
        grid-template-rows: 1fr;
    }

    .productRightSection {
        overflow-y: scroll;
        @apply border-t-0 border-l border-gray-300 !important;
    }

    .productExtraDetails {
        height: 100%;
        overflow: visible;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .productContainer {
        height: 25rem;
    }

    .productRightSection {
        height: 25rem;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 320px) {
    .productRightSection {
        padding: 5px;
    }
}
