@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbarBorderSeperationBorderColor: #dedede;

    --navbarBackground: #fff;
    --navlinkColor: #000;
    --navlinkHoverColor: #000;
    --navlinkHoverBottomColor: #000;
    --navbarFontFamily: "Work Sans", sans-serif;
    --navbarLogoFontFamily: "Orbitron", sans-serif;
    --navbarZIndex: 999;
    --navbarHamburgerColor: #000;

    --homePageHeaderBackground: #eaeaea;
    --homePageBannerContentZIndex: 10;
    --homePageBannerFontFamily: "Signika Negative", sans-serif;

    --scrollbarThumbColor: #fff;
    --scrollbarThumbBorderColor: #999;
    --scrollbarThumbHoverColor: #fff;
    --scrollbarThumbHoverBorderColor: #000;
    --scrollbarTrackColor: #fff;

    --footerBackground: #fff;

    --accentColor: #000;
    --bodyBackground: #fafafa;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: var(--bodyBackground);
    font-family: "Poppins";
    @apply pt-20 overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--navbarFontFamily);
}

::-webkit-scrollbar {
    width: 6px;
    position: absolute;
}

::-webkit-scrollbar-track {
    position: absolute;
    background: var(--scrollbarTrackColor);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumbColor);
    border: 1px solid var(--scrollbarThumbBorderColor);
    border-radius: 5px;
    @apply transition-colors;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarThumbHoverColor);
    border-color: var(--scrollbarThumbHoverBorderColor);
}

._2iWL7 {
    position: fixed !important;
    z-index: 888;
}

._1bpcM {
    position: fixed !important;
    @apply shadow-2xl drop-shadow-2xl border-2 border-green-400;
}
