.paraText {
    max-width: 60rem;
    @apply px-10 m-auto text-lg text-center;
}

.mainDescriptionLine {
    max-width: 70rem;
    font-family: "Poppins";
    @apply px-2 m-auto text-center text-2xl font-bold text-gray-700 mt-10 mb-5;
    @apply md:px-10 md:text-4xl;
}

.sectionDescriptionLine {
    max-width: 70rem;
    font-family: "Poppins";
    @apply px-2 m-auto text-center text-base font-bold text-gray-700 my-5;
    @apply md:px-10 md:text-2xl;
}

.sectionHeading {
    font-family: "Inter";
    @apply text-4xl sm:text-5xl md:text-6xl text-gray-900 text-center container mx-auto;
}

.section {
    @apply py-5;
}

.sectionContent {
    max-width: 1024px;
    @apply mx-auto bg-red-300 px-2;
}
